@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
.bg{
    background-color: black;
    font-family: 'Source Code Pro', monospace;
}
#dummy{
    height: 8vh;
    width: 100vw;
}
img {
    height: 35px;
    width: auto;
    margin-right: 10px;
    border-radius: 30px;
  }
  #name{
      font-size: 2em;
      padding-right: 20px;
      color: white;
  }